<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Web_2_WebApp_.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Web_2_WebApp_.Properties.Settings.ConnectionString"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Saboor Ahmad\Documents\Visual Studio 2013\Projects\Web_2\Web_2\Resources\DB_Crawler.mdf&quot;;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <applicationSettings>
    <Web_2_WebApp_.Properties.Settings>
      <setting name="SQLURLEntries" serializeAs="String">
        <value>SELECT * FROM URLEntries</value>
      </setting>
      <setting name="SQLWordCount" serializeAs="String">
        <value>SELECT * FROM WordCount</value>
      </setting>
    </Web_2_WebApp_.Properties.Settings>
  </applicationSettings>
</configuration>